body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
}

.slider-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
}


#container {
    width: 800px;
    height: 800px;
    display: grid;
    border-color: black;

}

.square {
    border: 1px solid rgb(66, 66, 66);
}

.hov-square{
    background-color: black;
}
.erase{
    background-color: white;
}


.red{
    background-color: red;
}
.orange{
    background-color: orange

}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.blue{
    background-color: blue

}
.indigo{
    background-color: indigo;
}
.violet{
    background-color: violet;
}

